/*Probar padding 120px para el contenido (Diseño)*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

.contenedorPortfolio{
    padding: 120px;
    padding-top: 0px;
    /*background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364)*/
}

body {
    background-color: rgb(10, 10, 10);
  }

.contenedor-portada{
    padding: 60px; 
    padding-top: 0px;
    margin-top: 180px;
}

.contenedor-portada h1{
    font-size: 70px;
    border: 12px solid #00f0ff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
    font-family: "montserrat", sans-serif;
}

.contenedor-portada p{
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-family: "montserrat", sans-serif;
}


nav{
    padding: 60px;
    padding-left: 30px;
}

nav ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "montserrat", sans-serif;
    font-size: 24px;
    margin-left: 30px;
}

nav ul li a:hover{
    border: 5px solid #00f0ff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#contenedor-flecha{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 160px;
}

#about-me{
    margin-top: 80px;
}

#proyects{
    margin-top: 80px;
    margin-bottom: 80px;
}

#contact{
    margin-top: 80px;
}

.contenedor-about-me{
    display: flex;
    padding: 60px;
    padding-top: 0px;
}

h2{
    color: white;
    font-family: "montserrat", sans-serif;
    font-size: 36px;
    padding: 60px;
    padding-bottom: 0px;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline 6px #00f0ff;
}

.texto-about-me{
    font-size: 20px;
    color: white;
    font-family: "montserrat", sans-serif;
}

.boton-cv a{
    background-color: #212121;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-left: 28px;
    font-weight: bolder;
}

.boton-cv a:hover{
    border: 0px;
    background-color: #00f0ff;
    color: black;
}

.boton-contactame a{
    font-family: "montserrat", sans-serif;
    font-weight: bolder;
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.boton-contactame{
    margin-top: 80px;
    padding: 60px;
    padding-top: 0px;
}

.boton-contactame a:hover {
    background-color: #00f0ff;
    color: black;
  }

form {
    max-width: 400px;
    margin: 0 auto;
  }
  
label {
    display: block;
    margin-bottom: 5px;
    color: white;
    margin-top: 15px;
}

label{
    margin-left: 10px;
    font-size: 20px;
}

input{
    height: 60px;
    background-color: #121212;
    border: 1px solid white;
}
  
input, textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}
  
input[type="submit"] {
    display: block;
    background-color: #00f0ff;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}

.contenedor-trabajos{
    display: block;
    justify-content: left;
    padding: 60px;
    padding-top: 0px;
}

.trabajos{
    margin-top: 60px;
    display: flex;
}

.trabajos img{
    border-radius: 20px;
}



/*.trabajos{
    height: 250px;
    width: fit-content;
}

.trabajos img{
    border-radius: 20px;
    height: 250px;
    margin-top: 50px;
}
*/

#proyecto1{
    margin-top: 35px;
}

#mensaje{
    height: 120px;
}

.contenedor-contacto {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; 
}

.formulario {
    width: 700px; 
}

label {
    display: block;
    margin-left: 10px
}
  
input {
    width: 100%; 
}

footer h4{
    display: block;
    text-align: center;
    color: white;
}

.titulo-contacto{
    display: block;
    text-align: center;
}

.formulario #boton-formulario{
    margin: auto;
    margin-top: 20px;
    color: black;
}

.header{
    height: 768px;
}

.contenedor-skills {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Creamos 10 columnas de igual ancho */
    place-items: center; /* Centra los elementos en el contenedor */
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.caja-skills {
    background-color: #121212;
    height: 100px;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
}









.contenedor-icon-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-icon-footer img{
    margin: 10px;
}


.contenido-proyecto{
    color: white;
    padding-left: 50px;
}

.contenido-proyecto h3{
    font-weight: 600;
    font-size: 24px;
}

.categoria-proyecto{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #00f0ff;
    color: black;
    padding: 2px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    font-weight: 600;
}


/* Estilos para el modo oscuro */
.dark {
    background-color: rgb(240, 240, 240);
    color: black;
  }

  .dark h1{
    color: black;
  }

  .dark h2{
    color: black;
  }

  .dark nav ul li a{
    color: black;
  }

  .dark nav ul li .boton-cv a{
    color: white;
  }

  .dark nav ul li .boton-cv a:hover{
    color: black;
  }

  .dark .texto-about-me{
    color: black;
  }

  .dark footer h4{
    color: black;
  }

  .dark .contenido-proyecto{
    color: black;
  }

  .dark .subtitulo-portada{
    color: black;
  }

  .dark label{
    color: black;
  }

  
  .dark .header {
    /* Estilos específicos para el encabezado en modo oscuro */
  }
  
  /* Otros estilos para el modo oscuro */
  
  .nav-container {
    display: flex;
    justify-content: space-between; /* Espacia los elementos del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .switch-container {
    margin-right: 70px; /* Ajusta el espacio entre el nav y el botón de cambio de tema */
  }
  
  .menu {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
  }
  
  .menu li {
    margin-left: 10px; /* Espaciado entre los elementos */
  }
  
  .switch {
    /* Estilos del botón de cambio de tema */
  }
  
  /* Otros estilos según sea necesario */


  .estrellas-footer{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  footer{
    padding: 20px;
  }
  